<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceasar Cipher</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"/>
</head>
    <body>
        <div class="container">
            <table class="table">
                <tr ><td style="text-align: center; font-weight: bold; font-style: 25px;">CEASAR CIPHER</td></tr>            
                <tr ><td style="font-weight: bold; color: blue;">ENCRYPTION</td></tr>
                <tr>
                    <td>
                        <form method="POST" action="/encrypt">
                            <div class="mb-3">
                                <lable class="form-lable">Plain Text: </lable>
                                <input type="text" class="form-control" name="InputPlainText" placeholder="Input Plain Text" required autofocus>
                            </div>

                            <div class="mb-3">
                                <lable class="form-lable">Key: </lable>
                                <input type="number" class="form-control" name="InputKeyText" placeholder="Input Key" required/>
                            </div>

                            <button type="submit" class="btn btn-primary">Encrypt</button>
                        </form>
                    </td>
                </tr>         

                <tr><td style="font-weight: bold; color: blue;">DECRYPTION</td></tr>
                <tr>
                    <td>
                        <form method="POST" action="/decrypt">
                            <div class="mb-3">
                                <lable class="form-lable">Cipher Text: </lable>
                                <input type="text" class="form-control" name="InputCipherText" placeholder="Input Cipher Text" required/>
                            </div>

                            <div class="mb-3">
                                <lable class="form-lable">Key: </lable>
                                <input type="number" class="form-control" name="InputKeyText" placeholder="Input Key" required/>
                            </div>

                            <button type="submit" class="btn btn-primary">Decrypt</button>
                        </form>
                    </td>
                </tr>         
            </table>
        </div>
    </body>
</html>